apiVersion: apps/v1
kind: Deployment
metadata:
  name: eutlas-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eutlas-redis
  template:
    metadata:
      labels:
        app: eutlas-redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          resources:
            limits:
              cpu: "250m"
              memory: 256Mi
            requests:
              cpu: "100m"
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: eutlas-redis
spec:
  selector:
    app: eutlas-redis
  ports:
    - port: 6379
      targetPort: 6379



