apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: eutlas-staging

resources:
  - ../base

patches:
  - path: ingress-patch.yaml
  - patch: |-
      - op: replace
        path: /metadata/name
        value: eutlas-staging
    target:
      kind: Namespace
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: eutlas-backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: eutlas-frontend

configMapGenerator:
  - name: eutlas-env
    literals:
      - ENVIRONMENT=staging

secretGenerator:
  - name: eutlas-mongodb-credentials
    behavior: replace
    literals:
      - password=StagingPassword2025!
  - name: eutlas-secrets
    behavior: replace
    literals:
      - JWT_SECRET=StagingJwtSecret2025Key32Chars!
      - MONGODB_URI=mongodb://eutlas-admin:StagingPassword2025!@mongodb:27017/eutlas-staging?authSource=admin
      - RESEND_API_KEY=re_e4RqM2Zz_UX8PyynNuB68WcJ8SUQN2aUW
      - EMAIL_FROM=staging@eutlas.eu

images:
  - name: ghcr.io/stschuer/eutlas-backend
    newTag: staging
  - name: ghcr.io/stschuer/eutlas-frontend
    newTag: staging

